# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
venv/
env/
.env/

# IDE
.vscode/
*.swp
.idea/




# Keep data folders but ignore contents
!data/images/.gitkeep
!data/annotations/.gitkeep